Diagnostics:
  Suppress: pragma-pack
Completion:
  ArgumentLists: Delimiters

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: false
  DefaultArguments: false
  TypeNameLimit: 24


CompileFlags:   
  Add: [-m32, -ffreestanding, -no-pie, -fno-pie, -mno-sse, -fno-stack-protector, -masm=intel, 
    -Wall, -Wextra, -Wpedantic, -Wduplicated-branches, -Wduplicated-cond, -Wcast-qual, -Wconversion, -Wsign-conversion, -Wlogical-op, -Wno-implicit-fallthrough]
  
---

If:
	PathMatch: .*\.c
CompileFlags:
  Add: [-xc, -std=c99]
---

If:
	PathMatch: .*\.h
CompileFlags:
  Add: [-xc-header, -std=c99]